/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$navbar-inverse-bg: #4C19DB;
$primary: #4C19DB;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

// Homepage
.jumbotron {
  background-image: asset-url('surface.jpg');
  background-size: cover;
  height: 550px;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
  }

  .btn-x {
    font-size: 1.7em;
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 20%);
    }

    &:focus {
      background-color: darken($primary, 20%);
    }
  }
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $primary;
  color: #777;

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}


// Articles
.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-bottom: 15px;
  padding-top: 15px;
}


// Users
.listing {
  list-style: none;
  padding-left: 0;
}


// Categories
.badge {
  background-color: $primary;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.input_checkbox input {
  width: auto !important;
}
